.player_zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.text-current{
    font-size: 40px;
    font-weight: bold;
    color: white;
}